In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df = pd.read_csv('IPL_train_ dataset 2008-2021.csv') #the path of the csv file may be different for you change it accordingly

In [ ]:
df.replace(to_replace="RCB", value="Royal Challengers Bangalore",inplace=True)
df.replace(to_replace="Capitals", value="Delhi Capitals",inplace=True)
df.replace(to_replace="KKR", value="Kolkata Knight Riders",inplace=True)
df.replace(to_replace="Punjab", value="Punjab Kings",inplace=True)
df.replace(to_replace="Mumbai", value="Mumbai Indians",inplace=True)
df.replace(to_replace="Royals", value="Rajasthan Royals",inplace=True)
df.replace(to_replace="Super", value="Chennai Super Kings",inplace=True)
df.replace(to_replace="Sunrisers", value="Sunrisers Hyderabad",inplace=True)
df.replace(to_replace="Kings", value="Kings XI Punjab",inplace=True)
df.replace(to_replace="Daredevils", value="Delhi Daredevils",inplace=True)
df.replace(to_replace=["Supergiant","Supergiants"], value="Rising Pune Supergiants",inplace=True)
df.replace(to_replace="Guj", value="Gujarat Lions",inplace=True)
df.replace(to_replace="Warriors", value="Pune Warriors",inplace=True)
df.replace(to_replace="Chargers", value="Deccan Chargers",inplace=True)
df.replace(to_replace="Kochi", value="Kochi Tuskers Kerala",inplace=True)

In [ ]:
no_of_rows_dropped = 0
for i in range (df.shape[0]):
  if (df['margin'][i]=='Tied' or df['margin'][i]=='No result' or df['margin'][i]=='Match abandoned without a ball bowled'):
    df = df.drop(i)
    no_of_rows_dropped += 1
  elif (str(df['team1_score'][i])=='nan'):
    df = df.drop(i)
    no_of_rows_dropped += 1
  elif (str(df['team2_score'][i])=='nan'):
    df = df.drop(i)
    no_of_rows_dropped +=1

print(no_of_rows_dropped)
print(i)

In [ ]:
df.reset_index(drop=True, inplace=True)
clean_df = df

In [ ]:
plt.figure(figsize=(12,6))
data = df.winner.value_counts()
sns.barplot(y = data.index, x = data, orient='h')
plt.show()

In [ ]:
bat_1st_df = df[df['margin'].str.contains('run', case=False)]
bat_2nd_df = df[df['margin'].str.contains('wicket', case=False)]

sizes = [len(bat_1st_df), len(bat_2nd_df)]
labels = ['Batting First', 'Batting Second']

plt.pie(sizes, labels=labels, autopct='%1.1f%%')
plt.show()

In [ ]:
frequency = df['man_of_the_match'].value_counts().sort_values(ascending=False)
frequency

In [ ]:
top_10 = frequency.head(10)
plt.barh(top_10.index, top_10.values)
plt.xlabel('Frequency')
plt.ylabel('Values')
plt.title('Top 10 MOTM awardees')
for i, v in enumerate(top_10.values):
    plt.text(v, i, str(v), ha='left', va='center')
plt.show()

In [ ]:
matches_per_year = df.groupby('year ').size()
matches_per_year.plot(kind='bar', figsize=(10, 6))
plt.xlabel('Year')
plt.ylabel('Number of Matches')
plt.title('Number of Matches Played per Year')
for i, v in enumerate(matches_per_year.values):
    plt.text(i, v, str(v), ha='center', va='bottom')
plt.show()

In [ ]:
matches_per_stadium = df['stadium'].value_counts().sort_index()
fig, ax = plt.subplots(figsize=(12, 8)) 
plt.plot(matches_per_stadium.index, matches_per_stadium.values, marker='o', linestyle='-')
plt.xlabel('Stadium')
plt.ylabel('Number of Matches')
plt.title('Number of Matches Played per Year')
for x, y in zip(matches_per_stadium.index, matches_per_stadium.values):
    plt.text(x, y, str(y), ha='center', va='bottom', fontsize=13)
plt.xticks(rotation=90)
plt.grid(False)
plt.show()

In [ ]:
df_sorted = df.sort_values(by="stadium")

# Calculate the average of "Team1_Score" for each stadium
average_scores = df_sorted.groupby("stadium")["team1_score"].mean()

# Plotting the line graph
plt.figure(figsize=(10, 6))
plt.plot(average_scores.index, average_scores.values, marker="o", color="green")

# Display the average score over each marker
for x, y in average_scores.items():
    plt.text(x, y, str(round(y, 2)), ha="left", va="center" , fontsize = 8)

# Set the graph title and labels
plt.title("Average Team 1 Score by Stadium")
plt.xlabel("Stadium")
plt.ylabel("Average Team 1 Score")
plt.xticks(rotation=90)

# Display the graph
plt.show()

In [ ]:
last_rows = df.groupby('year ').last()
plt.figure(figsize=(10, 6))  
value_counts = last_rows['winner'].value_counts()
bars = value_counts.plot(kind='bar')
plt.xlabel('Winner')
plt.ylabel('Frequency')
plt.title('IPL Winners')
plt.xticks(rotation=45)  
for i, v in enumerate(value_counts):
    bars.text(i, v, str(v), ha='center', va='bottom')

plt.tight_layout()
plt.show()

In [ ]:
for i in range (len(clean_df)):
  if clean_df['stadium'][i] =='Wankhede Stadium':
    clean_df['stadium'][i]= 1.01
  elif clean_df['stadium'][i] =='Dr DY Patil Sports Academy':
    clean_df['stadium'][i] = 1.02
  elif clean_df['stadium'][i] =='Brabourne Stadium':
    clean_df['stadium'][i] = 1.03
  elif clean_df['stadium'][i] =='Maharashtra Cricket Association Stadium':
    clean_df['stadium'][i] = 1.04
  elif clean_df['stadium'][i] == 'Narendra Modi Stadium':
    clean_df['stadium'][i] = 1.05
  else:
    clean_df['stadium'][i] = 0

print(clean_df)

In [ ]:
RCB_df = clean_df.loc[((clean_df['team1'] == 'Royal Challengers Bangalore') | (clean_df['team2'] == 'Royal Challengers Bangalore'))]

In [ ]:
RCB_df.head(10)

In [ ]:
RCB_df.drop(columns =['margin','man_of_the_match','winner','place'], axis=1, inplace=True)

In [ ]:
RCB_df.reset_index(inplace = True)

In [ ]:
len(RCB_df['team1'].values)

In [ ]:
team_score = []
for i in range(len(RCB_df)):
  if RCB_df['team1'].values[i] == 'Royal Challengers Bangalore':
    team_score.append(RCB_df['team1_score'].values[i])
  else:
    team_score.append(RCB_df['team2_score'].values[i])

In [ ]:
team_score

In [ ]:
RCB_df.drop(columns =['team1_score','team2_score','index'], axis=1, inplace=True)

In [ ]:
RCB_df

In [ ]:
for i in range(len(RCB_df)):
  if RCB_df['toss_winner'].values[i] == 'Royal Challengers Bangalore':
    RCB_df['toss_winner'].values[i] = 1
  else:
    RCB_df['toss_winner'].values[i] = 0

In [ ]:
RCB_df

In [ ]:
opponent_team = []
for i in range(len(RCB_df)):
  if RCB_df['team1'].values[i] != 'Royal Challengers Bangalore':
    opponent_team.append(RCB_df['team1'].values[i])
  else:
    opponent_team.append(RCB_df['team2'].values[i])

In [ ]:
RCB_df['Opponent_Team'] = opponent_team

In [ ]:
RCB_df.drop(columns =['team1','team2'], axis=1, inplace=True)

In [ ]:
RCB_df

In [ ]:
RCB_df['RCB score'] = team_score

In [ ]:
RCB_df

In [ ]:
for i in range(len(RCB_df)):
  if RCB_df['toss_choice'].values[i] == 'Bat':
    RCB_df['toss_choice'].values[i] = 1
  else:
    RCB_df['toss_choice'].values[i] = 0

In [ ]:
print(RCB_df)

In [ ]:
RCB_df.replace(to_replace="Pune Warriors", value=1.10,inplace=True)
RCB_df.replace(to_replace="Deccan Chargers", value=1.17,inplace=True)
RCB_df.replace(to_replace="Kolkata Knight Riders", value=1.12,inplace=True)
RCB_df.replace(to_replace="Punjab Kings", value=1.13,inplace=True)
RCB_df.replace(to_replace="Mumbai Indians", value=1.14,inplace=True)
RCB_df.replace(to_replace="Kochi Tuskers Kerala", value=1.15,inplace=True)
RCB_df.replace(to_replace="Chennai Super Kings", value=1.16,inplace=True)
RCB_df.replace(to_replace="Sunrisers Hyderabad", value=1.17,inplace=True)
RCB_df.replace(to_replace="Kings XI Punjab", value=1.13,inplace=True)
RCB_df.replace(to_replace="Rising Pune Supergiants", value=1.19,inplace=True)
RCB_df.replace(to_replace="Rising Pune Supergiant", value=1.19,inplace=True)
RCB_df.replace(to_replace="Gujarat Lions", value=1.20,inplace=True)
RCB_df.replace(to_replace="Royal Challengers Bangalore", value=1.21,inplace=True)
RCB_df.replace(to_replace="Delhi Capitals", value=1.22,inplace=True)
RCB_df.replace(to_replace="Rajasthan Royals", value=1.23,inplace=True)
RCB_df.replace(to_replace="Delhi Daredevils", value=1.22,inplace=True)

In [ ]:
print(RCB_df)

In [ ]:
RCB_X = RCB_df[['toss_winner', 'toss_choice', 'stadium', 'Opponent_Team']].to_numpy()

print(RCB_X)
print(RCB_X.shape)

In [ ]:
RCB_Y = RCB_df[['RCB score']].to_numpy()

In [ ]:
num_rows = int(0.2 * RCB_X.shape[0])

# Separate the last 20% of the rows into a new array
RCB_val_X= RCB_X[-num_rows:]
RCB_val_Y= RCB_Y[-num_rows:]

for i in range (len(RCB_X)-1,len(RCB_X)-num_rows-1,-1):
  RCB_X = np.delete(RCB_X,[i], axis=0)
  RCB_Y = np.delete(RCB_Y,[i], axis=0)

print(RCB_val_X.shape)
print(RCB_X.shape)

In [ ]:
print(RCB_Y.shape)
print(RCB_val_Y.shape)

In [ ]:
w = np.random.rand(4, 1)
b = 10

lr = 0.000001
for i in range (100000):

  Y = np.dot(RCB_X,w) + b 

  L=np.sum((Y-RCB_Y)**2)

  if (i%10000)==0:
    print(L)

  for j in range (4):
    w[j]-=lr*(np.sum(2*(np.multiply(RCB_X[j],(Y-RCB_Y)))))
  
  b-=lr*np.sum(Y-RCB_Y)

In [ ]:
#Validation
Y_val =  np.dot(RCB_val_X,w) + b

comparision = np.concatenate((RCB_val_Y, Y_val), axis=1)

print(comparision)

In [ ]:
def model(clean_df,name):
  RCB_df = clean_df.loc[((clean_df['team1'] == name) | (clean_df['team2'] == name))]

  RCB_df.drop(columns =['margin','man_of_the_match','winner','place'], axis=1, inplace=True)

  RCB_df.reset_index(inplace = True)

  team_score = []
  for i in range(len(RCB_df)):
    if RCB_df['team1'].values[i] == name:
      team_score.append(RCB_df['team1_score'].values[i])
    else:
      team_score.append(RCB_df['team2_score'].values[i])

  RCB_df.drop(columns =['team1_score','team2_score','index'], axis=1, inplace=True)
  #
  for i in range(len(RCB_df)):
    if RCB_df['toss_winner'].values[i] == name:
      RCB_df['toss_winner'].values[i] = 1
    else:
      RCB_df['toss_winner'].values[i] = 0
  #
  opponent_team = []
  for i in range(len(RCB_df)):
    if RCB_df['team1'].values[i] != name:
      opponent_team.append(RCB_df['team1'].values[i])
    else:
      opponent_team.append(RCB_df['team2'].values[i])

  RCB_df['Opponent_Team'] = opponent_team

  RCB_df.drop(columns =['team1','team2'], axis=1, inplace=True)

  RCB_df['RCB score'] = team_score
  #
  for i in range(len(RCB_df)):
    if RCB_df['toss_choice'].values[i] == 'Bat':
      RCB_df['toss_choice'].values[i] = 1
    else:
      RCB_df['toss_choice'].values[i] = 0
  #
  RCB_df.replace(to_replace="Pune Warriors", value=1.10,inplace=True)
  RCB_df.replace(to_replace="Deccan Chargers", value=1.17,inplace=True)
  RCB_df.replace(to_replace="Kolkata Knight Riders", value=1.12,inplace=True)
  RCB_df.replace(to_replace="Punjab Kings", value=1.13,inplace=True)
  RCB_df.replace(to_replace="Mumbai Indians", value=1.14,inplace=True)
  RCB_df.replace(to_replace="Kochi Tuskers Kerala", value=1.15,inplace=True)
  RCB_df.replace(to_replace="Chennai Super Kings", value=1.16,inplace=True)
  RCB_df.replace(to_replace="Sunrisers Hyderabad", value=1.17,inplace=True)
  RCB_df.replace(to_replace="Kings XI Punjab", value=1.13,inplace=True)
  RCB_df.replace(to_replace="Rising Pune Supergiants", value=1.19,inplace=True)
  RCB_df.replace(to_replace="Rising Pune Supergiant", value=1.19,inplace=True)
  RCB_df.replace(to_replace="Gujarat Lions", value=1.20,inplace=True)
  RCB_df.replace(to_replace="Royal Challengers Bangalore", value=1.21,inplace=True)
  RCB_df.replace(to_replace="Delhi Capitals", value=1.22,inplace=True)
  RCB_df.replace(to_replace="Rajasthan Royals", value=1.23,inplace=True)
  RCB_df.replace(to_replace="Delhi Daredevils", value=1.22,inplace=True)


 

  RCB_X = RCB_df[['toss_winner', 'toss_choice', 'stadium', 'Opponent_Team']].to_numpy()

  RCB_Y = RCB_df[['RCB score']].to_numpy()

  w = np.random.rand(4, 1)
  b = 10

  lr = 0.00000001
  for i in range (100000):

    Y = np.dot(RCB_X,w) + b 

    L=np.sum((Y-RCB_Y)**2)

    if (i%10000)==0:
      print(L)

    for j in range (4):
      w[j]-=lr*(np.sum(2*(np.multiply(RCB_X[j],(Y-RCB_Y)))))
    
    b-=lr*np.sum(Y-RCB_Y)
  

  return w,b

In [ ]:
w_MI,b_MI = model(clean_df,"Mumbai Indians")

In [ ]:
w_KKR, b_KKR = model(clean_df,"Kolkata Knight Riders")

In [ ]:
w_CSK, b_CSK = model(clean_df,"Chennai Super Kings")

In [ ]:
w_RR, b_RR = model(clean_df,"Rajasthan Royals")

In [ ]:
w_DC,b_DC = model(clean_df,"Delhi Capitals")

In [ ]:
w_PK , b_PK = model(clean_df,"Punjab Kings")

In [ ]:
w_SRH,b_SRH = model(clean_df,"Sunrisers Hyderabad")

In [ ]:
w_RCB,b_RCB = model(clean_df,"Royal Challengers Bangalore")

In [ ]:
raw_test_df = pd.read_csv('Test_dataset.csv')

In [ ]:
raw_test_df.replace(to_replace="RCB", value="Royal Challengers Bangalore",inplace=True)
raw_test_df.replace(to_replace="Capitals", value="Delhi Capitals",inplace=True)
raw_test_df.replace(to_replace="KKR", value="Kolkata Knight Riders",inplace=True)
raw_test_df.replace(to_replace="Punjab", value="Punjab Kings",inplace=True)
raw_test_df.replace(to_replace="Mumbai", value="Mumbai Indians",inplace=True)
raw_test_df.replace(to_replace="Royals", value="Rajasthan Royals",inplace=True)
raw_test_df.replace(to_replace="Super", value="Chennai Super Kings",inplace=True)
raw_test_df.replace(to_replace="Sunrisers", value="Sunrisers Hyderabad",inplace=True)
raw_test_df.replace(to_replace="Kings", value="Punjab Kings",inplace=True)
raw_test_df.replace(to_replace="Daredevils", value="Delhi Capitals",inplace=True)
raw_test_df.replace(to_replace=["Supergiant","Supergiants"], value="Rising Pune Supergiants",inplace=True)
raw_test_df.replace(to_replace="Guj", value="Gujarat Lions",inplace=True)
raw_test_df.replace(to_replace="Warriors", value="Pune Warriors",inplace=True)
raw_test_df.replace(to_replace="Chargers", value="Sunrisers Hyderabad",inplace=True)
raw_test_df.replace(to_replace="Kochi", value="Kochi Tuskers Kerala",inplace=True)

In [ ]:
print(raw_test_df)

In [ ]:
for i in range(len(raw_test_df)):
  if raw_test_df['toss_choice'].values[i] == 'Bat':
    raw_test_df['toss_choice'].values[i] = 1
  else:
    raw_test_df['toss_choice'].values[i] = 0

In [ ]:
raw_test_df.drop(columns =['place'], axis=1, inplace=True)

In [ ]:
raw_test_df

In [ ]:
for i in range (len(raw_test_df)):
  if raw_test_df['stadium'][i] =='Wankhede Stadium':
    raw_test_df['stadium'][i]= 1.1
  elif raw_test_df['stadium'][i] =='Dr DY Patil Sports Academy':
    raw_test_df['stadium'][i] = 1.2
  elif raw_test_df['stadium'][i] =='Brabourne Stadium':
    raw_test_df['stadium'][i] = 1.3
  elif raw_test_df['stadium'][i] =='Maharashtra Cricket Association Stadium':
    raw_test_df['stadium'][i] = 1.4
  elif raw_test_df['stadium'][i] == 'Narendra Modi Stadium':
    raw_test_df['stadium'][i] = 1.5
  else:
    raw_test_df['stadium'][i] = 0

In [ ]:
raw_test_df

In [ ]:
test_df = raw_test_df

In [ ]:
preds = np.zeros((45,1))

for i in range (45):
  test_df = raw_test_df

  t1_name = test_df['team1'].iloc[i]
  t2_name = test_df['team2'].iloc[i]

  if (test_df['toss_winner'].iloc[i]==t1_name):
    test_df['toss_winner'].iloc[i]=1
  else:
    test_df['toss_winner'].iloc[i]=0

  test_df.replace(to_replace="Pune Warriors", value=1.10,inplace=True)
  test_df.replace(to_replace="Deccan Chargers", value=1.17,inplace=True)
  test_df.replace(to_replace="Kolkata Knight Riders", value=1.12,inplace=True)
  test_df.replace(to_replace="Punjab Kings", value=1.13,inplace=True)
  test_df.replace(to_replace="Mumbai Indians", value=1.14,inplace=True)
  test_df.replace(to_replace="Kochi Tuskers Kerala", value=1.15,inplace=True)
  test_df.replace(to_replace="Chennai Super Kings", value=1.16,inplace=True)
  test_df.replace(to_replace="Sunrisers Hyderabad", value=1.17,inplace=True)
  test_df.replace(to_replace="Kings XI Punjab", value=1.13,inplace=True)
  test_df.replace(to_replace="Rising Pune Supergiants", value=1.19,inplace=True)
  test_df.replace(to_replace="Rising Pune Supergiant", value=1.19,inplace=True)
  test_df.replace(to_replace="Gujarat Lions", value=1.20,inplace=True)
  test_df.replace(to_replace="Royal Challengers Bangalore", value=1.21,inplace=True)
  test_df.replace(to_replace="Delhi Capitals", value=1.22,inplace=True)
  test_df.replace(to_replace="Rajasthan Royals", value=1.23,inplace=True)
  test_df.replace(to_replace="Delhi Daredevils", value=1.22,inplace=True)



  x1_full = test_df[['toss_winner', 'toss_choice', 'stadium', 'team2']].to_numpy()
  x2_full = test_df[['toss_winner', 'toss_choice', 'stadium', 'team1']].to_numpy()

  x1 = x1_full[i]
  x2 = x2_full[i]

  if x2[0]==1:
    x2[0]=0
  else:
    x2[0]=1

  if t1_name=="Mumbai Indians":
    w1 = w_MI
    b1 = b_MI
  elif t1_name=="Kolkata Knight Riders":
    w1 = w_KKR
    b1 = b_KKR
  elif t1_name=="Chennai Super Kings":
    w1 = w_CSK
    b1 = b_CSK
  elif t1_name=="Royal Challengers Bangalore":
    w1 = w_RCB
    b1 = b_RCB
  elif t1_name=="Rajasthan Royals":
    w1 = w_RR
    b1 = b_RR
  elif t1_name=="Delhi Capitals":
    w1 = w_DC
    b1 = b_DC
  elif t1_name=="Punjab Kings":
    w1 = w_PK
    b1 = b_PK
  elif t1_name=="Sunrisers Hyderabad":
    w1 = w_SRH
    b1 = b_SRH

###
  
  if t2_name=="Mumbai Indians":
    w2 = w_MI
    b2 = b_MI
  elif t2_name=="Kolkata Knight Riders":
    w2 = w_KKR
    b2 = b_KKR
  elif t2_name=="Chennai Super Kings":
    w2 = w_CSK
    b2 = b_CSK
  elif t2_name=="Royal Challengers Bangalore":
    w2 = w_RCB
    b2 = b_RCB
  elif t2_name=="Rajasthan Royals":
    w2 = w_RR
    b2 = b_RR
  elif t2_name=="Delhi Capitals":
    w2 = w_DC
    b2 = b_DC
  elif t2_name=="Punjab Kings":
    w2 = w_PK
    b2 = b_PK
  elif t2_name=="Sunrisers Hyderabad":
    w2 = w_SRH
    b2 = b_SRH

###

  y1 = np.dot(x1,w1) + b1
  y2 = np.dot(x2,w2) + b2

  if (y1>y2):
    preds[i]=1
  else:
    preds[i]=2

In [ ]:
preds

In [ ]:
preds.shape

(45, 1)